.main{
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  flex-direction: column;
}

.title{
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
}

.highlight{
  color: var(--primary);
}