@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.header {
  /* background-color: var(--white); */
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 4rem;
}

.white {
  background-color: var(--white);
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
}

.logo {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.8rem;
}

.actions {
  color: var(--caption-color);
  display: flex;
  gap: 1rem;
  align-items: center;
}

.action {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.icon {
  color: var(--caption-color);
  width: 1rem;
  height: 1rem;
}
